Flask==2.3.2
Flask-Cors==3.0.10
Werkzeug==2.3.4
joblib==1.2.0
pandas==2.0.1
numpy==1.24.3
torch==2.0.1
torchvision==0.15.2
transforms==0.1
Pillow==9.5.0
openpyxl==3.1.2
shutils==0.1.0
urllib3==2.0.2
certifi