<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Skin Quality Analysis - Good Vibes Mood</title>
      
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        
        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/templatemo-tiya-golf-club.css') }}" rel="stylesheet">
        
    </head>
    
    <body>

        <main>
            <!-- Start Navbar -->
            <nav class="navbar navbar-expand-lg">                
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="index.html">
                        <img src="{{ url_for('static', filename='images/logoNoBg.png') }}" style="height: 80px;" alt="Tiya Golf Club">
                        <span class="navbar-brand-text">
                            G V M 
                            <small>Good Vibes Mood</small>
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">SkinAI</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            <!-- Start Home -->
            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

                <div class="section-overlay"></div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <h1 class="text-white">Welcome to the Project:</h1>

                            <h2 class="cd-headline rotate-1 text-white mb-4 pb-2">
                                <span>Facial Problem </span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Detection</b>
                                    <b>Medication</b>
                                </span>
                            </h2>

                            <div class="custom-btn-group">
                                <a href="#section_3" class="btn custom-btn smoothscroll me-3">Our Product</a>

                                <a href="#" class="link smoothscroll" disabled>Try our Technology</a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="ratio ratio-16x9">
                                <img width="560" height="315" src="{{ url_for('static', filename='images/pict2.png') }}" title="wajah" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allow fullscreen>
                            </div>
                        </div>

                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
            </section>
            <!-- End Home -->

            <!-- START ABOUT -->
            <section class="about-section section-padding" >
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mb-4" id="section_2">
                            <h2 class="mb-lg-5 mb-4">About GVM</h2>
                            
                            <div class="text-wrap">
                                <h3 class="mb-4">GVM Team History</h3>
    
                                <p><strong>Good Vibes Mood 2023</strong>, GVM is a Team from Final Project on Startup Campus Artificial Intelligence Computer Vision Track. we are working on a project to detect problems on the face, such as: Acne, Actinic Keratosis, Rosacea etc.</p>
    
                                <p>You can try our products through this website by entering a picture of your face to check for problems on the face.</p>
                            </div>
                        </div>

                        <!-- START GAMBAR MEMBER -->
                        {%for member in memberData%}
                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                            <div class="member-block">
                                <div class="member-block-image-wrap" style="height: 18rem;"> 
                                    <img src="{{ url_for('static', filename='images/members/' + member.Image +'.jpg') }}"  class="member-block-image img-fluid" alt="">

                                    <ul class="social-icon">
                                        <li class="social-icon-item">
                                            <a href="{{member.linkedin}}" class="social-icon-link bi-linkedin" target="_blank"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="{{member.github}}" target="_blank" class="social-icon-link bi-github"></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="member-block-info d-flex align-items-center">
                                    <h4>{{member.name}}</h4>

                                    <p class="ms-auto">{{member.position}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}                      
                        <!-- END GAMBAR MEMBER -->

                    </div>
                </div>
            </section>
            <!-- END ABOUT -->

            <!--START PRODUCT DETECTION -->
            <section class="membership-section section-bg section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mx-auto mb-3">
                            <h2><span>Facial Analysis</span> & Skincare Recommendation</h2>
                        </div>

                        <div class="d-flex justify-content-center">
                            <form>
                                <div class="mb-3">
                                    <div class="d-flex justify-content-center">
                                        <img src="{{ url_for('static', filename='images/face_example.jpg') }}" class="mb-4" alt="Contoh Foto" style="max-width: 8cm; border-radius: 10px;">
                                        
                                    </div>
                                    <p class="text-center">Coba aplikasi untuk mengetahui permasalahan wajah dan produk skincare mana yang cocok untuk Anda</p>
                            
                                    <label for="inputImage" class="form-label">Upload Gambar</label>
                                    <input type="file" class="form-control" id="inputImage" accept="image/*">
                                    
                                </div>
                                <div class="text-center mb-4 pb-lg-2">
                                    <button type="submit" class="btn btn-primary" id="prediksi_submit">Proses</button>
                                </div>
                            </form>
                            
                        </div> 

                        <div class="col-lg-4 col-12  text-center">
                            <h4 class="mb-4 pb-lg-2">Face Detection</h4>
                            <div id="outputAreaFace" class="box mx-auto">
                                <p>Your Problem: <b>Normal / Not Detect</b> </p>
                                <img src="https://dummyimage.com/300x300/000/fff" alt="Gambar Produk">
                            </div>
                        </div>

                        <div class="col-lg-8 col-12 text-center">
                        <h4 class="mb-4 pb-lg-2">Recommendation Product</h4>
                        <div class="table-responsive">
                            <div class="table-container">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th style="width: 40%; font-size: 19px;">Medication</th>
                                            <th style="width: 35%; font-size: 19px;">Skincare ingredients</th>
                                            <th style="width: 25%; font-size: 19px;">Resources</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr id="outputRecomm">
                                            <td class="text-start" style="border-right: 2px solid #3D405B;">
                                                <ul style="text-align: justify;">
                                                    <!-- Membuat list untuk data medications -->
                                                    {%for medication in default_recom[0]['Medication']%}
                                                        <li>{{medication}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="text-start" style="border-right: 2px solid #3D405B;">
                                                <ul style="text-align: justify;">
                                                    <!-- Membuat list untuk data inggredients -->
                                                    {%for Inggredient in default_recom[0]['Skincare Ingredients']%}
                                                        <li>{{Inggredient}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="text-start">
                                                <ul style="text-align: justify;">
                                                    <!-- Membuat list untuk data Resources -->
                                                    {%for resource in default_recom[0]['Resources']%}
                                                        <li><a href="{{ resource }}" target="_blank" style="word-wrap: break-word;">{{default_recom[0]['Domain'][loop.index0]}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Hasil ditampilkan disini -->
                    </div>
                </div>
            </section>
            <!--END PRODUCT DETECTION -->

        </main>

        <!-- Start Footer -->
        <footer class="new_footer_area bg_color">
            <div class="new_footer_top" id="section_4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Skin Quality Analysis</h3>
                                <p>Don’t miss any updates of our new technology and extensions.!</p>
                                <form action="#" id="contact" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                                    <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                                    <a href="mailto:gvm.goodvibesmood@gmail.com" class="btn btn_get btn_get_two" type="submit">Subscribe</a>
                                    
                                    <p class="mchimp-errmessage" style="display: none;"></p>
                                    <p class="mchimp-sucmessage" style="display: none;"></p>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Company</a></li>
                                    <li><a href="#">Android App</a></li>
                                    <li><a href="#">ios App</a></li>
                                    <li><a href="#">Desktop</a></li>
                                    <li><a href="#">Projects</a></li>
                                    <li><a href="#">My tasks</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Term &amp; conditions</a></li>
                                    <li><a href="#">Reporting</a></li>
                                    <li><a href="#">Documentation</a></li>
                                    <li><a href="#">Support Policy</a></li>
                                    <li><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                                <div class="f_social_icon">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                    <a href="#" class="social-icon-link bi-linkedin"></a>
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bg">
                    <div class="footer_bg_one"></div>
                    <div class="footer_bg_two"></div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-7">
                            <p class="mb-0 f_400">© GoodVibesMood Inc.. 2023 All rights reserved.</p>
                        </div>
                        <div class="col-lg-6 col-sm-5 text-right">
                            <p>Made with <i class="icon_heart"></i> in <a href="#" target="_blank">GVM</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->


        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/animated-headline.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
        <script src="{{ url_for('static', filename='/js/client_side.js' ) }}"></script>

    </body>
</html>
